th,td{
    width: 300px;
}
.delete{
    width: 100px;
    text-align: center;
}
.control{
    width: 120px;
    border: 1px solid gray;
}
/* .control:not(active){
    border: 1px solid white;

} */



