
.user-profile{
    margin-top: 80px;
}
.user-details{
    text-align: center;
}
.user-details img{
    width: 150px;
}

.user-products{
    margin:  0 12%;
    display: flex;
    justify-content: space-between;
}
.profile-picture{
    border-radius:50%;
    width: 150px;
    height: 150px;
    border: 2px solid black;
}