.comments {
    width: 700px;
    border-left: solid 2px #ccc;
    padding: 0px 20px 0px 20px;
    margin-top: 15px;
} .comments p {
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 1px #ccc;
    line-height: 1.7;
    position: relative;
}
p::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    border: 3px solid #ccc;
    border-radius: 50%;
    background-color: #2c3e50;
    top: 10px;
    left: -30px;
}
p::after {
    content: '';
    position: absolute;
    border: solid 8px;
    border-color: transparent #ccc transparent transparent;
    top: 10px;
    left: -17px;
}
/* .fa-trash{
    color: red;
    cursor: pointer;
} */