/* .button{
    color:#ff7052;
    border:1px solid #ff7052;
    padding: 7px;
    border-radius: 2px;
} */
.navbar-brand{
    color: white !important;
    font-size:x-large !important;
}
.navbar{
    background: rgba(25, 139, 25, 0.671);

}
.dropdown-toggle::after {
    display: none !important;
}
.dropdown-item{
    color: rgb(92, 184, 92) !important;

}

.dropdown-item a{
    color: rgb(92, 184, 92) !important;

    text-decoration: none !important;

}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: rgba(212, 151, 38, 0) !important;
}
